body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

.formElement p {
  display: none;
}

select {
  margin-top: 4px;
}
.all {
  margin-top: 10rem;
  padding-inline: 1rem;
}
.container {
  margin-inline: auto;
  max-width: 600px;
  height: auto;
  border-radius: 5px;
  gap: 5px;
}

.resultItems {
  overflow-y: scroll;
  overflow: auto;
  max-height: 200px;
}

.resultItem {
  padding-block: 0.1px;
  border-radius: 6px;
  padding-inline: 7px;
}

.renkli {
  background-color: rgba(0, 0, 0, 0.1);
}

h3,
h4,
h5 {
  font-weight: bold;
  color: rgb(187, 223, 224);
  display: flex;
  gap: 10px;
  padding-inline: 7px;

  & span {
    margin-right: auto;
  }
}
.info {
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(187, 223, 224);
}
.resultItem h4 span {
  color: lightcoral;
}

a {
  text-decoration: none;
  color: rgb(187, 223, 224);
  cursor: pointer;
}

h3 a:hover {
  color: rgb(236, 92, 92);
  transition: color 250ms ease-in-out;
}

input::placeholder {
  color: rgb(187, 223, 224);
}

h1 {
  color: cadetblue;
}

.add {
  background-color: cadetblue;
  color: rgb(187, 223, 224);
  padding-inline: 18px;
  padding-block: 5px;
  border-radius: 45px;
  width: 100px;
  margin-top: 15px;
  border: none;
  font-weight: bold;
  margin: 5px;
  cursor: pointer;
}

.add:hover {
  background-color: rgb(187, 223, 224);
  color: cadetblue;
  transition: all 250ms ease-in-out;
}

.btns {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  & button {
    padding-block: 10px;
    padding-inline: 12px;
    background-color: rgb(187, 223, 224);
    color: lightcoral;
    font-weight: bold;
    min-width: 200px;
  }
}

.visible {
  display: none;
}

.myForm {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 2px solid cadetblue;
  padding: 15px;
  padding-top: 30px;
  border-radius: 15px;
  gap: 10px;
}

.formElement input {
  padding-block: 7px;
  padding-inline: 12px;
  color: lightcoral;
  border-radius: 15px;
  outline: none;
  border: 1px solid cadetblue;

  font-weight: bold;
}

.formElement select {
  padding-block: 7px;
  padding-inline: 12px;
  border-radius: 15px;
  outline: none;
  border: 1px solid cadetblue;
  color: rgb(187, 223, 224);
  font-weight: bold;

  & option {
    padding-block: 7px;
    padding-inline: 12px;
  }
}
