body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

.formElement p {
  display: none;
}

select {
  margin-top: 4px;
}
.all {
  margin-top: 10rem;
  padding-inline: 1rem;
}
/* .container {
  margin-inline: auto;
  max-width: 600px;
  height: auto;
  border-radius: 5px;
  gap: 5px;
  padding: 20px;
} */
.results {
  max-width: 600px;
  margin: auto;
  height: 100%;
}
.resultItems {
  overflow-y: scroll;
  overflow: auto;
  max-height: 200px;
}

.resultItem {
  padding-block: 0.1px;
  border-radius: 6px;
  padding-inline: 7px;
}

.renkli {
  background-color: rgba(0, 0, 0, 0.02);
}

/* .renksiz {
  background-color: rgb(108, 231, 221);
} */

h3,
h4,
h5 {
  font-weight: bold;
  color: rgb(187, 223, 224);
  display: flex;
  gap: 10px;
  padding-inline: 7px;

  & span {
    margin-right: auto;
  }
}
.info {
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(187, 223, 224);
}
.resultItem h4 span {
  color: lightcoral;
}

a {
  text-decoration: none;
  color: lightcoral;
  font-weight: bold;
  cursor: pointer;
}

h3 a:hover {
  color: rgb(236, 92, 92);
  transition: color 250ms ease-in-out;
}

input::placeholder {
  color: rgb(187, 223, 224);
}

h1 {
  color: cadetblue;
}

.add {
  background-color: cadetblue;
  color: rgb(187, 223, 224);
  padding-inline: 18px;
  padding-block: 5px;
  border-radius: 45px;
  width: 100px;
  margin-top: 15px;
  border: none;
  font-weight: bold;
  margin: 5px;
  cursor: pointer;
}

.add:hover {
  background-color: rgb(250, 255, 178);
  color: lightcoral;
  transition: all 0.2s ease-in;
}

.btns {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  & button {
    padding-block: 10px;
    padding-inline: 12px;

    background-color: lightcoral;
    font-size: 20px;
    color: rgb(250, 255, 178);
    font-weight: bold;
    width: 200px;
  }
}

.visible {
  display: none;
}

.myForm {
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-right: 25px;
  padding-left: 15px;
  padding-block: 30px;
  border-radius: 15px;
  gap: 10px;
  max-width: 500px;
  height: 100%;
  --color1: rgb(108, 231, 221);
  --color2: rgb(250, 255, 178);
  background-color: var(--color1);
  background-image: linear-gradient(
      45deg,
      var(--color2) 25%,
      transparent 25%,
      transparent 75%,
      var(--color2) 75%,
      var(--color2)
    ),
    linear-gradient(
      45deg,
      var(--color2) 25%,
      var(--color1) 25%,
      var(--color1) 75%,
      var(--color2) 75%,
      var(--color2)
    );
  /* background-size: 80px 80px; */
  background-position: 0 0, 30px 30px;
}

.formElement input {
  width: 100%;
  padding-block: 12px;
  padding-left: 9px;
  color: lightcoral;
  border-radius: 10px;
  outline: none;
  border: 1px solid cadetblue;
  font-weight: bold;
}

.formElement select {
  width: 100%;
  padding-block: 12px !important;
  padding-left: 9px;
  border-radius: 10px;
  outline: none;
  border: 1px solid cadetblue;
  color: rgb(187, 223, 224);
  font-weight: bold;

  & option {
    width: 250px;
    padding-block: 7px !important;
    padding-inline: 12px !important;
  }
}
